<% if @page %>
	<h2>
		Editing page 
		<% if @page.title %>
			<%= @page.title %>
		<% else %>
			<%= @page.url %>
		<% end %>
	</h2>
<% else %>
	<h2>Creating page <%= @path %></h2>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'wikiex/sidebar_edit' %>
<% end %>


<div id="edit-news">
	<form action="<%= @path %>/edit/save" method="POST" id="box tabular" class="tabular">
		<div class="box tabular">

			<p>
				<label for="text">Page title</label>
				<% if @page %>
					<input type="text" name="title" value="<%=@page.title%>" /> Current version: <%=@page.version%>
				<% else %>
					<input type="text" name="title" /> Current version: 1
				<% end %>
			</p>

			<p>
				<label for="text">Summary<span class="required"> *</span></label>	
				<textarea id="text" name="text" rows="14" class="wiki-edit"><% if @page %><%=@page.original%><% end %></textarea>
			</p>
		</div>
		<input type="hidden" name="path" value="<%= @path %>" />
		<input type="submit" value="Save changes" />
	</form>
<% if @oldVersion %>
	<hr>
	<h2>Version <%=@oldVersion.id%>/<%= @oldVersion.version %> by <%= @oldVersion.author %>, <%= @oldVersion.when %></h2>
	<div id="edit-news">
		<div class="box tabular">
			<p>
				<label for="text">Page title</label>
				<input type="text" name="title" value="<%=@oldVersion.title%>" />
			</p>
			<p>
				<label for="text">Summary</label>
				<textarea id="text" name="text" rows="14" class="wiki-edit"><%=@oldVersion.content%></textarea>
			</p>
		</div>
	</div>
<% end %>

</div>
