<script type="text/javascript" src="/redmine/javascripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({

	gecko_spellcheck : true,

	// General options
	mode : "textareas",
	theme : "advanced",
	plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,imagemanager,filemanager",

	// Theme options
	theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,|,styleselect,formatselect,fontselect,fontsizeselect",
	theme_advanced_buttons2 : "search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,image,help,code,preview,|,forecolor,backcolor",
	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,iespell,|,ltr,rtl,|,fullscreen",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,

	// Example content CSS (should be your site CSS)
	content_css : "/redmine/stylesheets/application.css",

	// Drop lists for link/image/media/template dialogs
	template_external_list_url : "js/template_list.js",
	external_link_list_url : "js/link_list.js",
	external_image_list_url : "js/image_list.js",
	media_external_list_url : "js/media_list.js",

	// Replace values for the template plugin
	template_replace_values : {
		username : "Some User",
		staffid : "991234"
	}
});
</script>



<% if @page %>
	<h2>
		Editing page 
		<% if @page.title %>
			<%= @page.title %>
		<% else %>
			<%= @page.url %>
		<% end %>
	</h2>
<% else %>
	<h2>Creating page <%= @path %></h2>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'wikiex/sidebar_edit' %>
<% end %>


<div id="edit-news">
	<form action="<%= @path %>/edit/save" method="POST" id="box tabular" class="tabular">
		<div class="box tabular">
			<% if @hasChapter == 0 %>
			<p>
				<label for="text">Page title</label>
				<% if @page %>
					<input type="text" name="title" value="<%=@page.title%>" /> Current version: <%=@page.version%>
				<% else %>
					<input type="text" name="title" /> Current version: 1
				<% end %>
			</p>
			<% end %>

			<p>
				<label for="text">Summary<span class="required"> *</span></label>
				<textarea id="text" name="text" rows="28" class="wiki-edit"><% if @page %><%=h @page.original%><% end %></textarea>
			</p>
		</div>
		<input type="hidden" name="path" value="<%= @path %>" />
		<input type="hidden" name="chapter" value="<%= @chapID %>" />
		<input type="submit" value="Save changes" />
	</form>
<% if @oldVersion %>
	<hr>
	<h2>Version <%=@oldVersion.id%>/<%= @oldVersion.version %> by <%= @oldVersion.author %>, <%= @oldVersion.when %></h2>
	<div id="edit-news">
		<div class="box tabular">
			<p>
				<label for="text">Page title</label>
				<input type="text" name="title" value="<%=@oldVersion.title%>" />
			</p>
			<p>
				<label for="text">Summary</label>
				<textarea id="text" name="text" rows="14" class="wiki-edit"><%=@oldVersion.content%></textarea>
			</p>
		</div>
	</div>
<% end %>

</div>
