<style type="text/css"> 

	#listOfContents {
		float:right;
		margin-left:12px;
		margin-right:0;
		width:auto;
		background-color:#FFFFDD;
		border:1px solid #E4E4E4;
		display:table;
		line-height:1.2em;
		margin-bottom:12px;
		margin-left:0;
		margin-right:12px;
		padding:4px;
	}

	#listOfContents li{
		list-style-type:none;
	}

	.nowiki {
		background-color:#EEF3F8;
		overflow: auto;
	}

	table.inline {
		background-color:#FFFFFF;
		border-style:none;
	}
	
	table.inline th {
		background-color:#DEE7EC;
		border:1px solid #8CACBB;
		padding:3px;
	}

	table.inline td {
		border:1px solid #8CACBB;
		padding:3px;
	}


</style>

<% content_for :sidebar do %>
    <%= render :partial => 'wikiex/sidebar' %>
<% end %>


<% if @page %>

	<h1>
	<% if @page.title %>
		<%= @page.title %>
	<% else %>
		<%= @page.url %>
	<% end %>
	</h1>

	<%=@page.content %>

<% else %>
	<p class="nodata">The page does not exist yet, if you want to create it, go <a href="<%=@path%>/edit"><b>here</b></a>.</p>
<% end %>
