<style type="text/css"> 

	table.inline {
		background-color:#FFFFFF;
		border-style:none;
	}
	
	table.inline th {
		background-color:#DEE7EC;
		border:1px solid #8CACBB;
		padding:3px;
	}

	table.inline td {
		border:1px solid #8CACBB;
		padding:3px;
	}


</style>

<% if @page %>
        <div class="contextual">
                <a class="icon icon-edit" accesskey="e" href="<%=@path%>/edit">Edit</a>
        </div>

	<h1>
	<% if @page.title %>
		<%= @page.title %>
	<% else %>
		<%= @page.url %>
	<% end %>
	</h1>

	<%=@page.content %>

<% else %>
	<p class="nodata">The page does not exist yet, if you want to create it, go <a href="<%=@path%>/edit"><b>here</b></a>.</p>
<% end %>
